body{
	margin: 0;
	font-family: arial,helventica;
	font-size: 40px;
	line-height: 60px;
}

header{
	background-color: black;
	text-align: center;
	padding-bottom: 30px;
	padding-top: 30px;
}

header h1{
	color: white;
	font-size: 50px;
	
}

h1,h2{
	font-family: 'Roboto Mono', monospace;
font-family: 'Rowdies', cursive;

}

header img{
	border: 5px solid white;

}

main{
	max-width: 800px;
	margin: 0 auto;
	padding: 40px;

}

main img{
	max-width: 100%;
}

h2{
	font-size: 45px;
	color: grey;
	padding-top: 40px;

}

.caption{
	font-size: 20px;
	color: grey;
	font-style: italic;
	margin-top: 0;
}

footer{
	background-color: black;
	color: white;
	text-align: center;
	padding: 50px;
}

footer p{
	margin: 0px;

}

p.style{
	font-family: 'Dancing Script', cursive;
font-family: 'Lobster', cursive;

}



